<div class="fragment">
  <button class="mobile-settings-button" v-on:click="openModalAsync"></button>

  <portal to="modals">
    <div class="modal-wrapper" v-if="modalOpen">
      <div class="modal mobile-settings-modal">
        <header>
          <span>Settings</span>
          <button type="button"
                  class="modal-close-button"
                  v-on:click="closeModal"></button>
        </header>
        <div>
          <form class="modal-body form-aligned">
            <div class="form-line">
              <label>Language:</label>
              <app-select-language v-model="options.language"></app-select-language>
            </div>
            <div class="form-line">
              <label>Branch:</label>
              <app-select-branch
                v-model="branch"
                v-bind:branches="branches"
                v-bind:language="options.language"></app-select-branch>
            </div>
            <app-section-branch-details v-bind:header="false" v-bind:branch="branch"></app-section-branch-details>
            <div class="form-line">
              <label>Output:</label>
              <app-select-target v-model="options.target"></app-select-target>
            </div>
            <div class="form-line">
              <label>Mode:</label>
              <app-select-mode v-model="options.release"></app-select-mode>
            </div>
            <div class="form-line">
              <app-cm6-preview-manager></app-cm6-preview-manager>
            </div>
          </form>
        </div>
      </div>
    </div>
  </portal>
</div>